 html {
            font-size: 22px;
        }
        body {
            background-color: #222;
            color: whitesmoke;
            font-size:20px;
            margin:40px;
        }
        a{
            color:aliceblue
        }
        a:visited
        {
            color:lightgreen
        }
        a:hover, a:active{
        color:eee;
        }
        button{
            background-color:aquamarine;
            font-size: 30px;
            border-radius:10px 10px 10px 10px;
        }